showAllConstraints: true
encloseWithMermaidBackticks: false
outputFileName: "my-db.mmd"
debug: false
omitConstraintLabels: false
omitAttributeKeys: false
showSchemaPrefix: true
schemaPrefixSeparator: "_"

# These connection strings are available as suggestions in the cli (use tab to access)
connectionStringSuggestions:
  - postgresql://user:password@localhost:5432/mermerd_test
  - mysql://root:password@tcp(127.0.0.1:3306)/mermerd_test
  - sqlserver://sa:securePassword1!@localhost:1433?database=mermerd_test
